<mat-card>
    <mat-card-title>Editar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="productinho.name" name="name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preco R$" [(ngModel)]="productinho.price" name="price" />
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateProduct()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

